# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## https://byjoeybaker.com/why-you-should-never-commit-node-modules-in-nodejs
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

.DS_Store
